<form  action="/boss/create" method="post">

  <label for=""> Please give your room a title</label>
  <input type="text" name="bossName" value="">

  <label for=""> Brief description of the room</label>
  <input type="text" name="bossPass" value="">

  <button type="submit" name="button">Submit</button>

</form>